.profile {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.missionprofile,
.rocketProfile {
  width: 35rem;
  padding: 8px;
  background: #fff;
  border: 1px inset;
}

.profile h2 {
  margin-left: 2px;
}
