td {
  border: 1px solid;
}

h2 {
  margin: 1rem;
}

table {
  background: rgb(239, 239, 242);
}

th {
  border: 1px solid;
  background: #fff;
}

.progress-circle {
  width: 60px;
}

.member {
  width: 8rem;
  padding: 10px;
  background: #fff;
  text-align: center;
}

.active {
  color: #fff;
  text-align: center;
  background: blue;
  border-radius: 3px;
}

.notActive {
  color: #fff;
  text-align: center;
  background: rgb(65, 65, 66);
  border-radius: 3px;
  margin: 1rem;
}

.reserved {
  color: red;
  background: #fff;
  width: 8rem;
  padding: 8px;
  margin: 1rem;
  text-align: center;
  border: 1px solid red;
}

.joinMission {
  padding: 8px;
  width: 8rem;
  border: 1px solid rgb(43, 43, 46);
  margin: 1rem;
}

.memberRow {
  background: #fff;
}

.status {
  width: 10rem;
  text-align: center;
}
